$activeLinkColor:#B1A964;
$brightFontColor:#FFFFFF;

*{
    padding :0;
    margin :0;
    box-sizing: border-box;
}

header{
    background: linear-gradient(135deg, rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%), url(../images/slider/img_bg_slider_home01.jpg) no-repeat center;
    color: $brightFontColor;
    font-family: sans-serif;
    height:950px;
    .block__top-bar{
        width: 100vw;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        .block__top-logo{
            width: 50vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 5%;
            nav{
                width: 40vw;
                font-size: 1.6rem;
                justify-content: center;
                align-content: center;
                ul{
                    li{
                        a{
                            text-decoration: none;
                            color: #FFFFFF;
                        }
                        a:active{
                            color: #B1A964;
                        }                        
                    }
                    display: flex;
                    justify-content:space-around;
                    align-content: center;
                }

            }
        }
        .link__contact{
            display: flex;
            align-items: center;
            width: 20vw;
            p{
                font-size: large;
            }
            .link__book{
                text-transform: uppercase;
                font-size: large;
                font-weight: bold;
                text-decoration: none;
                color: $brightFontColor;
                background-color: $activeLinkColor;
                padding: 20px;
                border-radius: 10px;
                margin-right: 5%;
            }
        }
    }
    .block__banner{
        display: flex;
        align-items:center;
        justify-content:space-between;
        padding: 0 10vw;
        height: 800px;
        width: 100vw;
        .block__explor{
            width: 30vw;
            position: relative;
            p{
                font-size: 150px;
                font-family: 'Cinzel', serif;
            }
            img{
                position: absolute;
                top: 0;
                right: 0;
                
            }
            a{
                text-decoration: none;
                color:$brightFontColor;
                text-transform: uppercase;
                border: 3px solid #383c3fc4;
                border-radius: 5px;
                padding: 15px 30px;
                font-weight: bold;
                margin-top: 20px;
            }
        }
        .block__big-play-button{
            border-radius: 100%;
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 51%);
            text-align: center;
            width: 200px;
            height: 200px;
            border: 1px solid #ffffff65;
            i{
                color:$activeLinkColor;
            }
        }
    }
    @media (min-width: 430px) and (max-width: 1080px){
        .block__top-bar{
            .block__top-logo{
                width: 70vw;
                nav{
                    width: 50vw;
                }
            }
            .link__contact{
                justify-content: center;
                gap: 10px;
            }
        }
        .block__banner{
            height: 680px;
            .block__explor{
                width: 600px;
                p{
                    font-size: 100px;
                }
            }
            
        }
    }

    @media (max-width: 430px){
        .block__top-bar{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            .block__top-logo{
                width: 100vw;
                justify-content: space-around;
                flex-direction: column;
                margin: 0;
                gap: 5px;
                nav{
                    flex-wrap: nowrap;
                    ul{
                        width: 160px;
                    }
                }
            }
            .link__contact{
                width: 100vw;
                flex-direction: column;
                gap: 10px;
                .link__book{
                    margin-right: 0;
                }
            }
        }
        .block__banner{
            height: 600px;
            .block__explor{
                width: 100vw;
                p{
                    font-size: 85px;
                    z-index: 3;
                }
                img{
                    z-index: 1;
                }
            }
            .block__big-play-button{
                display: none;
            }
        }
    }
}

#category{
    /*height: 954px;*/
    min-height: 954px;
    width: 100vw;
    background:linear-gradient(90deg,#FAF7F065 0%, #faf7f065 100%) ,url(../images/banner/imgbgcategory.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Cormorant Garamond', serif;
    .category__filigrane{
        color: rgba(0, 0, 0, 0.03);
        text-transform: uppercase;
        font-size: 340px;
        position: absolute;
        top : 0px;
        left: 0px;
    }
    .category__title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .category__title-main{
            font-size: 50px;
            text-align: center;
            text-transform: uppercase;
        }
        .category__title-sub{
            font-size: 2rem;
        }
    }
    .category__choices{
        display: grid;
        grid: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap: 40px;
        width: 1280px;
        .category__choices-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #B1A964;
            width: 180px;
            height: 200px;
            .category__choices-card-icon{
                width: 10px;
                font-size: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .category__choices-card-text{
                font-size: 1.5rem;
            }
            .category__choices-card-arrow{
                font-size: 1.5rem;
            }
        }
    }
    @media (min-width: 620px) and (max-width: 1280px){
        .category__choices{
            width: 620px;
            grid: 1fr 1fr / 1fr 1fr 1fr;
        }
    }
    @media (max-width: 620px) and (min-width:430px){
        .category__title-main{
            font-size: 40px;
        }
        .category__choices{
            width: 430px;
            grid: 1fr 1fr 1fr 1fr / 1fr 1fr;
            margin: 40px 0;
        }
    }
    @media (max-width: 430px){
        .category__title-main{
            font-size: 30px;
        }
        .category__choices{
            width: 180px;
            grid: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
            margin: 40px 0;
        }
    }

}

#aboutUs{
    .aboutUs__haut{
        display: flex;
        width: 100vw;
        justify-content: center;
        .aboutUs__haut-main-pic{
            margin-top: -100px;
            z-index: 3;
            
            img{
                padding: 30px;
                border-radius: 100%;
            }
        }
    }
}


.text__couleur-verte{
    color: #B1A964;
}

.list__no-bullets{
    list-style-type: none;
    
}

.block__flex{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.centrerY{
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

footer{
    background-image: url(../images/footer/img-ng-footer.jpg);
    color: $brightFontColor;
}