* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(135deg, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%), url(../images/slider/img_bg_slider_home01.jpg) no-repeat center;
  color: #FFFFFF;
  font-family: sans-serif;
  height: 950px;
}
header .block__top-bar {
  width: 100vw;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
header .block__top-bar .block__top-logo {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}
header .block__top-bar .block__top-logo nav {
  width: 40vw;
  font-size: 1.6rem;
  justify-content: center;
  align-content: center;
}
header .block__top-bar .block__top-logo nav ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
header .block__top-bar .block__top-logo nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
header .block__top-bar .block__top-logo nav ul li a:active {
  color: #B1A964;
}
header .block__top-bar .link__contact {
  display: flex;
  align-items: center;
  width: 20vw;
}
header .block__top-bar .link__contact p {
  font-size: large;
}
header .block__top-bar .link__contact .link__book {
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #B1A964;
  padding: 20px;
  border-radius: 10px;
  margin-right: 5%;
}
header .block__banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
  height: 800px;
  width: 100vw;
}
header .block__banner .block__explor {
  width: 30vw;
  position: relative;
}
header .block__banner .block__explor p {
  font-size: 150px;
  font-family: "Cinzel", serif;
}
header .block__banner .block__explor img {
  position: absolute;
  top: 0;
  right: 0;
}
header .block__banner .block__explor a {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  border: 3px solid rgba(56, 60, 63, 0.768627451);
  border-radius: 5px;
  padding: 15px 30px;
  font-weight: bold;
  margin-top: 20px;
}
header .block__banner .block__big-play-button {
  border-radius: 100%;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 51%);
  text-align: center;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.3960784314);
}
header .block__banner .block__big-play-button i {
  color: #B1A964;
}
@media (min-width: 430px) and (max-width: 1080px) {
  header .block__top-bar .block__top-logo {
    width: 70vw;
  }
  header .block__top-bar .block__top-logo nav {
    width: 50vw;
  }
  header .block__top-bar .link__contact {
    justify-content: center;
    gap: 10px;
  }
  header .block__banner {
    height: 680px;
  }
  header .block__banner .block__explor {
    width: 600px;
  }
  header .block__banner .block__explor p {
    font-size: 100px;
  }
}
@media (max-width: 430px) {
  header .block__top-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  header .block__top-bar .block__top-logo {
    width: 100vw;
    justify-content: space-around;
    flex-direction: column;
    margin: 0;
    gap: 5px;
  }
  header .block__top-bar .block__top-logo nav {
    flex-wrap: nowrap;
  }
  header .block__top-bar .block__top-logo nav ul {
    width: 160px;
  }
  header .block__top-bar .link__contact {
    width: 100vw;
    flex-direction: column;
    gap: 10px;
  }
  header .block__top-bar .link__contact .link__book {
    margin-right: 0;
  }
  header .block__banner {
    height: 600px;
  }
  header .block__banner .block__explor {
    width: 100vw;
  }
  header .block__banner .block__explor p {
    font-size: 85px;
    z-index: 3;
  }
  header .block__banner .block__explor img {
    z-index: 1;
  }
  header .block__banner .block__big-play-button {
    display: none;
  }
}

.text__couleur-verte {
  color: #B1A964;
}

.list__no-bullets {
  list-style-type: none;
}

.block__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.centrerY {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

footer {
  background-image: url(../images/footer/img-ng-footer.jpg);
  color: #FFFFFF;
}
